<h4>Configuration for Enclosure Thermostat</h4>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Com Port:') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.comport">
        </div>
		<label class="control-label">{{ _('Baud Rate:') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.baudrate">
        </div>
		<label class="control-label">{{ _('Enclosure Temp - Nav Bar:') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.showenclosuretemp">
        </div>
		<label class="control-label">{{ _('Enclosure Target Temp - Nav Bar:') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.showtargettemp">
        </div>
		<label class="control-label">{{ _('Mode - Nav Bar:') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.showmode">
        </div>
		<label class="control-label">{{ _('System Status - Nav Bar:') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.showstatus">
        </div>

    </div>
</form>